.navbar{
    background-color:#EEF1FF;
    padding-left:50px;
    padding-right:50px;
}

.navbar-brand{
    font-family: 'Marck Script', cursive;
    font-size: xx-large;
    font-weight:500;
}

.center-tab{
    margin-left:50px;
}

.nav-link{
    color: black;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-link:hover{
    color: black;
}

.center-tab .nav-link::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.center-tab .nav-link:hover::before{
    transform: scaleX(1);
}

.offcanvas{
    opacity:99%;
}

.offcanvas-title{
    margin-left:45%;
    font-family: 'Marck Script', cursive;
    font-size:x-large;
    font-weight:500;
}

.offcanvas-link{
    margin-top:-34px;
    list-style-type:none;
}

.offcanvas-link li{
    margin-left:-30px;
    font-size:14px;
    padding-top:15px;
}

.offcanvas hr{
    margin-left:-30px;
}

.offcanvas-btn{
    display: none;
    background-color:white;
    border:white;
    height:45px;
    width:45px;
    border-radius:50%;
    -webkit-tap-highlight-color: transparent;
}

.offcanvas-backdrop.show {
    opacity: .0;
}

.toggle{
    width:20px;
    height:2px;
    background-color: black;
    margin: 6px 0;
}

.toggle:nth-child(1){
    margin-left:2.5px;
    width:70%;
}

.toggle:nth-child(3){
    margin-left:4px;
    width:50%;
}

.intro{
    min-height:90vh;
    background-color:#EEF1FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .container{
    text-align: center;
}

.intro-img{
    height:100%;
    width:100%;
    z-index:-1;
}

.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text h3{
    font-size:3rem;
}

.intro-text h1{
    font-size:3.5rem;
    font-weight:600;
    font-family: 'Poppins', sans-serif;
    margin-top:20px;
}

.intro-text a{
    color: #000;
    text-decoration: none;
}

.intro-text button{
    border: none;
    background-color:#FFB26B;
    padding:15px 40px;
    margin-top:30px;
    border-radius:30px;
    font-weight: 600;
}


.about-me .container{
    margin-top:30px;
}

.about-me .container h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding:30px;
    color: #0A2647;
}


.about-me .container h5{
    text-align: center;
    padding-left:0px;
}

.about-me .container p{
    padding:30px;
    font-weight:450;
}

.tech-specs{
    background-color: #FAF8F1;
    border-radius:20px;
}

.tech-stack{
    margin-left:30px;
    padding:30px;
    justify-content: left;
    margin-top:-20px;
}

.tech-specs h5{
    margin-top:10px;
}

.tech-stack h6{
    margin-top:20px;
}

.tech-stack img{
    margin-top:10px;
}

.project .container{
    margin-top:30px;
    margin-bottom:30px;
}

.project h1{
    text-align: center;
    padding:30px;
    color: #0A2647;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    height: 5px;
}

.card-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#eee;
}

.project .card {
    height:300px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    margin-right:10px;
    border:none;
}


.project .card:hover {
    transform: scale(1.05);
}


.project img{
    height:100%;
    width:100%;
}

.project .card-body{
    background-color: #282A3A;
    color:#fff;
    text-align: center;
    padding:30px 0px;
    opacity:85%;
}

.project h4{
    font-family: 'Roboto', sans-serif;
}

.project a{
    color: #fff;
    text-decoration: none;
}

.contact{
    background-color:#DEF5E5;
    margin:0px 10px 30px;
    border-radius:15px;
}

.contact .container{
    padding:30px;
}

.contact h1{
    text-align: center;
    padding:30px;
    color: #0A2647;   
}

.contact .row{
    padding:20px 0px;
}

.contact .icons{
    text-align: center;
    padding:20px 0px;
}

.contact a{
    color: #000;
    text-decoration: none;
}

footer{
    padding:30px;
    text-align: center;
    border-top:1px solid #eee;
    font-weight:500;
}

.hidden{
    opacity:0;
    filter: blur(1px);
    transform: translateX(-100%);
    transition: all 1s;
}

.hidden-show{
    opacity:1;
    filter: blur(0px);
    transform: translateX(0);
}

.appear{
    opacity:0;
    transition: all 3s;
}

.appear-show{
    opacity:1;
}

.drop{
    opacity:0;
    filter: blur(1px);
    transform: translateY(-2px);
    transition: all 1s;
}

.drop-show{
    opacity:1;
    filter: blur(0px);
    transform: translateY(0);
}

@media(max-width:768px){
    .nav{
        display: none;
    }
    .navbar{
        padding-left:5px;
        padding-right:5px;
        border-bottom:solid lightgray;
        border-bottom-width: thin;
    }
    .offcanvas-btn{
        display: block;
    }
}

@media (max-width:767px){
    .about-me .container h5{
        margin-top:20px;
    }
    .tech-stack{
        margin-left:0px;
    }
    .tech-specs{
        margin-top:20px;
    }
}

@media(max-width:320px){
    .intro-text h3{
        font-size:2rem;
    }

    .intro-text h1{
        font-size:2.5rem;
    }
}